<template>
    <div>
        <div class="row">
            <router-link to="/all-expense" class="btn btn-primary">All Expense</router-link>
        </div>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="card shadow-sm my-5">
                        <div class="card-body p-0">
                            <div class="row">
                            <div class="col-lg-12">
                                <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Add Expense</h1>
                                </div>
                                <form class="employee" @submit.prevent="addExpense" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="exampleFormControlTextarea1">Details</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="form.details"></textarea> 
                                                <small class="text-danger" v-if="errors.details">{{errors.details[0]}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="exampleFormControlTextarea1">Amount</label>
                                                <input type="text" class="form-control" id="exampleInputAddress" placeholder="Enter Address" v-model="form.amount">  
                                                <small class="text-danger" v-if="errors.amount">{{errors.amount[0]}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="exampleFormControlTextarea1">Expense Date</label>
                                                <input type="date" class="form-control" id="exampleInputJoiningDate" placeholder="Enter Joining Date" v-model="form.expense_date">  
                                                <small class="text-danger" v-if="errors.expense_date">{{errors.expense_date[0]}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                    </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <router-link to="/" class="font-weight-bold small">Already have an account?</router-link>
                                </div>
                                <div class="text-center">
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            form: {
                details: null,
                amount: null,
                expense_date: null,
            },
            errors: {}
        }
    },
    methods: {
        addExpense(){
            axios.post('/api/expense',this.form)
            .then(res => {
                this.$router.push({name: 'AllExpense'})
                Notification.success()
            })
            .catch(error => this.errors = error.response.data.errors)
        }
    },
    created(){
        if(!User.loggedIn()){
            this.$router.push({name: '/'})
        }
    }
}
</script>

<style>
    
</style>