<template>
    <div>
        <div class="row">
            <router-link to="/add-expense" class="btn btn-primary">Add Expense</router-link>
        </div>
        </br>
        <input type="text" class="form-control" placeholder="Search Here" v-model="seachTerm" style="width: 300px;">
        </br>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Expense List</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Details</th>
                        <th>Amount</th>
                        <th>Expense Date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="expense in filterSearch" :key="expense.id">
                        <td>{{expense.details}}</td>
                        <td>{{expense.amount}}</td>
                        <td>{{expense.expense_date}}</td>
                        <td>
                          <router-link :to="{name: 'EditExpense', params: {id: expense.id}}" class="btn btn-primary">Edit</router-link>
                          <a @click="deleteExpense(expense.id)" class="btn btn-danger"><font color="#ffffff">Delete</font></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
      return {
        expenses: [],
        seachTerm: ''
      }
    },
    methods: {
      allExpense(){
        axios.get('/api/expense')
        .then(({data}) => {
          this.expenses = data
        })
        .catch(error => console.log(error))
      },
      deleteExpense(id){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            axios.delete('/api/expense/'+id)
            .then(() => {
              this.expenses = this.expenses.filter((expense) => {
                return expense.id != id
              })
            })
            .catch(() => {
              this.$router.push({name: 'AllExpense'})
            })
            Swal.fire(
              'Deleted!',
              'Expense Deleted Successfully',
              'success'
            )
          }
        })
      }
    },
    created(){
      this.allExpense()
    },
    computed: {
      filterSearch(){
        return this.expenses.filter(expense => {
          return expense.details.match(this.seachTerm)
        })
      }
    }
}
</script>

<style>
#empImage{
  height: 40px;
  width: 40px;
}
</style>