<template>
    <div>
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">POS Dashboard</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">POS</li>
            </ol>
          </div>

          <div class="row mb-3">
            <!-- Pie Chart -->
            <div class="col-xl-5 col-lg-5">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Cart Products</h6>
                  <a href="#" class="btn btn-primary">Add Customer</a>
                </div>
                    <div class="table-responsive">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Total</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="cart in cartProducts" :key="cart.id">
                            <td><a href="#">{{cart.pro_name}}</a></td>
                            <td class="d-flex">
                              <input type="text" :value="cart.pro_quantity" style="width:20px">
                              <button @click="increment(cart.id)" class="btn btn-success btn-sm">+</button>
                              <button @click="decrement(cart.id)" class="btn btn-danger btn-sm" v-if="cart.pro_quantity >= 2">-</button>
                              <button class="btn btn-danger btn-sm" v-else disabled>-</button>
                            </td>
                            <td>{{cart.pro_price}}</td>
                            <td>{{cart.sub_total}}</td>
                            <td><a @click="removeItemFromCart(cart.id)" class="btn btn-sm btn-primary"><font color="#fffff">X</font></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer">
                      <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-item-center">Total Quantity<strong>{{totalProduct}}</strong></li>
                        <li class="list-group-item d-flex justify-content-between align-item-center">Sub Total<strong>{{subTotal}}$</strong></li>
                        <li class="list-group-item d-flex justify-content-between align-item-center">Vat<strong>{{vats.vat}}%</strong></li>
                        <li class="list-group-item d-flex justify-content-between align-item-center">Total<strong>{{subTotal * vats.vat / 100 + subTotal}}$</strong></li>
                      </ul>
                      <form @submit.prevent="placeOrder">
                        <label for="">Customer</label>
                        <select class="form-control" v-model="customer_id">
                          <option v-for="customer in customers" :key="customer.id" :value="customer.id">{{customer.name}}</option>
                        </select>
                        <label for="">Pay</label>
                        <input type="text" class="form-control" v-model="pay">
                        <label for="">Due</label>
                        <input type="text" class="form-control" v-model="due">
                        <label for="">Pay By</label>
                        <select class="form-control" v-model="payby">
                          <option value="cash">Cash</option>
                          <option value="cheque">Cheque</option>
                          <option value="card">Card</option>
                        </select>
                        <br>
                        <button type="sumbut" class="btn btn-success">Submit</button>
                      </form>
                    </div>
                  
              </div>
            </div>
            <!-- Invoice Example -->
            <div class="col-xl-7 col-lg-7 mb-4">
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Product</h6>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All Product</a>
                    </li>
                    <li class="nav-item"  v-for="category in categories" :key="category.id">
                        <a class="nav-link" @click="getCategoryProduct(category.id)" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{{category.category_name}}</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <input type="text" class="form-control mt-2" placeholder="Search Here" v-model="seachTerm" style="width: 300px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-6" v-for="product in filterSearch" :key="product.id">
                                  <button class="btn btn-sm" @click.prevent="addToCart(product.id)">
                                    <div class="card" style="width: 8rem; margin-bottom: 5px">
                                        <img class="card-img-top" :src="product.image" alt="Card image cap" id="empImage">
                                        <div class="card-body">
                                            <h7 class="card-title">{{product.product_name}}</h7>
                                            <span class="badge badge-success" v-if="product.product_quantity >= 1">Available ({{product.product_quantity}})</span>
                                            <span class="badge badge-danger" v-else>Out Of Stock</span>
                                        </div>
                                    </div>
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <input type="text" class="form-control mt-2" placeholder="Search Here" v-model="categoryProductSeachTerm" style="width: 300px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-6" v-for="categoryProduct in categoryProductfilterSearch" :key="categoryProduct.id">
                                    <button class="btn btn-sm" @click.prevent="addToCart(categoryProduct.id)">
                                    <div class="card" style="width: 10.5rem; margin-bottom: 5px">
                                        <img class="card-img-top" :src="categoryProduct.image" alt="Card image cap" id="empImage">
                                        <div class="card-body">
                                            <h7 class="card-title">{{categoryProduct.product_name}}</h7>
                                            <span class="badge badge-success" v-if="categoryProduct.product_quantity >= 1">Available ({{categoryProduct.product_quantity}})</span>
                                            <span class="badge badge-danger" v-else>Out Of Stock</span>
                                        </div>
                                    </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
      return {
        customer_id: '',
        pay: '',
        due: '',
        payby: '',
        products: [],
        categories: '',
        categoryProducts: [],
        seachTerm: '',
        categoryProductSeachTerm: '',
        customers: '',
        cartProducts: [],
        vats: ''
      }
    },
    methods: {
      allProduct(){
        axios.get('/api/product')
        .then(({data}) => {
          this.products = data
        })
        .catch(error => console.log(error))
      },
      allCategory(){
          axios.get('/api/category')
            .then(({data}) => {
            this.categories = data
            })
            .catch(error => console.log(error))
      },
      getCategoryProduct(catId){
          axios.get('/api/category-product/'+catId)
            .then(({data}) => {
            this.categoryProducts = data
            })
            .catch(error => console.log(error))
      },
      allCustomer(){
        axios.get('/api/customer')
          .then(({data}) => {
          this.customers = data
          })
          .catch(error => console.log(error))
      },
      addToCart(pId){
        axios.get('/api/pos/add-to-cart/'+pId)
          .then(() => {
            Reload.$emit('afterAddToCart')
            Notification.cart_succes_msg()
          })
          .catch(error => console.log(error))
      },
      cartProduct(){
        axios.get('/api/pos/cart-product')
          .then(({data}) => {
            this.cartProducts = data
          })
          .catch(error => console.log(error))
      },
      removeItemFromCart(cartId){
        axios.get('/api/pos/remove-item-from-cart/'+cartId)
          .then(() => {
            Reload.$emit('afterAddToCart')
            Notification.cart_remove_msg()
          })
          .catch(error => console.log(error))
      },
      increment(id){
        axios.get('/api/pos/increment/'+id)
          .then(() => {
            Reload.$emit('afterAddToCart')
            Notification.success()
          })
          .catch(error => console.log(error))
      },
      decrement(id){
        axios.get('/api/pos/decrement/'+id)
          .then(() => {
            Reload.$emit('afterAddToCart')
            Notification.success()
          })
          .catch(error => console.log(error))
      },
      vat(){
        axios.get('/api/pos/vat')
          .then(({data}) => {
            this.vats = data
          })
          .catch(error => console.log(error))
      },
      placeOrder(){
        let total = this.subTotal * this.vats.vat / 100 + this.subTotal
        var data = {
          qty: this.totalProduct, 
          sub_total: this.subTotal, 
          customer_id: this.customer_id, 
          pay_by: this.payby, 
          pay: this.pay, 
          due: this.due,
          vat: this.vats.vat, 
          total: total
        }
        axios.post('/api/pos/place-order',data)
          .then(() => {
            Notification.success()
            this.$router.push({name: Home})
          })
          .catch(error => console.log(error))

      }
    },
    created(){
      this.allProduct()
      this.allCategory()
      this.allCustomer()
      this.cartProduct()
      this.vat()
      Reload.$on('afterAddToCart',() => {
        this.cartProduct()
      })
    },
    computed: {
      filterSearch(){
        return this.products.filter(product => {
          return product.product_name.match(this.seachTerm)
        })
      },
      categoryProductfilterSearch(){
        return this.categoryProducts.filter(categorProduct => {
          return categorProduct.product_name.match(this.categoryProductSeachTerm)
        })
      },
      totalProduct(){
        let totalProduct = 0
        for(let i = 0; i < this.cartProducts.length; i++){
          totalProduct += (parseFloat(this.cartProducts[i].pro_quantity))
        }
        return totalProduct;
      },
      subTotal(){
        let subTotal = 0
        for(let i = 0; i < this.cartProducts.length; i++){
          subTotal += (parseFloat(this.cartProducts[i].pro_quantity) * parseFloat(this.cartProducts[i].pro_price))
        }
        return subTotal;
      },
    }
}
</script>

<style scoped>
#empImage{
  height: 100px;
  width: 130px;
}
</style>
