<template>
    <div>
        <div class="row">
            <router-link to="/add-product" class="btn btn-primary">Add Product</router-link>
        </div>
        </br>
        <input type="text" class="form-control" placeholder="Search Here" v-model="seachTerm" style="width: 300px;">
        </br>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Product List</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Photo</th>
                        <th>Category</th>
                        <th>Buting Price</th>
                        <th>Selling Price</th>
                        <th>Quantity</th>
                        <th>Root</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="product in filterSearch" :key="product.id">
                        <td>{{product.product_name}}</td>
                        <td>{{product.product_code}}</td>
                        <td>
                          <img :src="product.image" alt="" id="empImage">
                        </td>
                        <td>{{product.category_name}}</td>
                        <td>{{product.buying_price}}</td>
                        <td>{{product.selling_price}}</td>
                        <td>{{product.product_quantity}}</td>
                        <td>{{product.root}}</td>
                        <td>
                          <router-link :to="{name: 'EditProduct', params: {id: product.id}}" class="btn btn-primary">Edit</router-link>
                          <a @click="deleteProduct(product.id)" class="btn btn-danger"><font color="#ffffff">Delete</font></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
      return {
        products: [],
        seachTerm: ''
      }
    },
    methods: {
      allProduct(){
        axios.get('/api/product')
        .then(({data}) => {
          this.products = data
        })
        .catch(error => console.log(error))
      },
      deleteProduct(id){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            axios.delete('/api/product/'+id)
            .then(() => {
              this.products = this.products.filter((product) => {
                return product.id != id
              })
            })
            .catch(() => {
              this.$router.push({name: 'AllProduct'})
            })
            Swal.fire(
              'Deleted!',
              'Product Deleted Successfully',
              'success'
            )
          }
        })
      }
    },
    created(){
      this.allProduct()
    },
    computed: {
      filterSearch(){
        return this.products.filter(product => {
          return product.product_name.match(this.seachTerm)
        })
        // .filter(code => {
        //   return code.product_code.match(this.seachTerm)
        // })
      }
    }
}
</script>

<style>
#empImage{
  height: 40px;
  width: 40px;
}
</style>