<template>
    <div>
        <div class="row">
            <router-link to="/all-employee" class="btn btn-primary">All Employee</router-link>
        </div>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="card shadow-sm my-5">
                        <div class="card-body p-0">
                            <div class="row">
                            <div class="col-lg-12">
                                <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Edit Employee</h1>
                                </div>
                                <form class="product" @submit.prevent="updateProduct" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <label for="">Product Name</label>
                                                <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter Product Name" v-model="form.product_name">  
                                                <small class="text-danger" v-if="errors.product_name">{{errors.product_name[0]}}</small>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="">Product Code</label>
                                                <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                                                    placeholder="Enter Product Code" v-model="form.product_code">
                                                    <small class="text-danger" v-if="errors.product_code">{{errors.product_code[0]}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <label for="">Category</label>
                                                <select class="form-control" id="exampleFormControlSelect1" v-model="form.category_id">
                                                    <option v-for="category in categories" :key="category.id" :value="category.id">{{category.category_name}}</option>
                                                </select>
                                                <small class="text-danger" v-if="errors.category_id">{{errors.category_id[0]}}</small>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="">Supplier</label>
                                                <select class="form-control" id="exampleFormControlSelect1" v-model="form.supplier_id">
                                                    <option v-for="supplier in suppliers" :key="supplier.id" :value="supplier.id">{{supplier.name}}</option>
                                                </select>
                                                    <small class="text-danger" v-if="errors.supplier_id">{{errors.supplier_id[0]}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-4">
                                                <label for="">Root</label>
                                                <input type="text" class="form-control" id="exampleInputJoiningDate" placeholder="Enter Root" v-model="form.root">  
                                                <small class="text-danger" v-if="errors.root">{{errors.root[0]}}</small>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="">Buying Price</label>
                                                <input type="text" class="form-control" id="exampleInputNid" aria-describedby="nidHelp"
                                                    placeholder="Enter Buying Price" v-model="form.buying_price">
                                                    <small class="text-danger" v-if="errors.buying_price">{{errors.buying_price[0]}}</small>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="">Selling Price</label>
                                                <input type="text" class="form-control" id="exampleInputNid" aria-describedby="nidHelp"
                                                    placeholder="Enter Selling Price" v-model="form.selling_price">
                                                    <small class="text-danger" v-if="errors.selling_price">{{errors.selling_price[0]}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <label for="">Product Quantity</label>
                                                <input type="text" class="form-control" id="exampleInputPhone" placeholder="Enter Phone Number" v-model="form.product_quantity"> 
                                                <small class="text-danger" v-if="errors.product_quantity">{{errors.product_quantity[0]}}</small> 
                                            </div>
                                            <div class="col-md-6">
                                                <label for="">Buying Date</label>
                                                <input type="date" class="form-control" id="exampleInputPhone" placeholder="Enter Phone Number" v-model="form.buying_date"> 
                                                <small class="text-danger" v-if="errors.buying_date">{{errors.buying_date[0]}}</small> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <label for="">Product Image</label>
                                                <input type="file" class="custom-file-input" id="customFile" @change="imageUpload">
                                                <small class="text-danger" v-if="errors.image">{{errors.image[0]}}</small>
                                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                            <div class="col-md-6">
                                                <img :src="form.image" alt="image" style="height: 40px; width: 40px">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                    </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <router-link to="/" class="font-weight-bold small">Already have an account?</router-link>
                                </div>
                                <div class="text-center">
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            form: {
                category_id: null,
                product_name: null,
                product_code: null,
                root: null,
                buying_price: null,
                selling_price: null,
                supplier_id: null,
                buying_date: null,
                image: null,
                newimage: null,
                product_quantity: null
            },
            errors: {},
            categories: {},
            suppliers: {}
        }
    },
    methods: {
        updateProduct(){
            let id = this.$route.params.id
            axios.patch('/api/product/'+id,this.form)
            .then(res => {
                this.$router.push({name: 'AllProduct'})
                Notification.success()
            })
            .catch(error => this.errors = error.response.data.errors)
        },
        imageUpload(event){
            let file = event.target.files[0]
            if(file.size > 1048770){
                Notification.imageValidationMessage()
            }else{
                let reader = new FileReader()
                reader.onload = event => {
                    this.form.newimage = event.target.result
                    console.log(event.target.result)
                }
                reader.readAsDataURL(file)
                console.log(event.target.files[0])
            }
        }
    },
    created(){
        if(!User.loggedIn()){
            this.$router.push({name: '/'})
        }
        axios.get('/api/category')
        .then(({data}) => {
            console.log(data)
            this.categories = data
        })
        .catch(error => console.log(error))
        axios.get('/api/supplier')
        .then(({data}) => {
            console.log(data)
            this.suppliers = data
        })
        .catch(error => console.log(error))

        let id = this.$route.params.id
        axios.get('/api/product/'+id)
        .then(({data}) => (this.form = data))
        .catch(error => console.log(error))

    }
}
</script>

<style>
    
</style>