<template>
    <div>
        <div class="row">
            <router-link to="/all-product" class="btn btn-primary">Go Back</router-link>
        </div>
        </br>
        <input type="text" class="form-control" placeholder="Search Here" v-model="seachTerm" style="width: 300px;">
        </br>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Stock</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Photo</th>
                        <th>Category</th>
                        <th>Buying Price</th>
                        <th>Status</th>
                        <th>Stock</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="product in filterSearch" :key="product.id">
                        <td>{{product.product_name}}</td>
                        <td>{{product.product_code}}</td>
                        <td>
                          <img :src="product.image" alt="" id="empImage">
                        </td>
                        <td>{{product.category_name}}</td>
                        <td>{{product.buying_price}}</td>
                        <td v-if="product.product_quantity >= 1"><span class="badge badge-success">Available</span></td>
                        <td v-else ><span class="badge badge-danger">Out Of Stock</span></td>
                        <td>{{product.product_quantity}}</td>
                        <td>
                          <router-link :to="{name: 'EditStock', params: {id: product.id}}" class="btn btn-primary">Edit</router-link>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
      return {
        products: [],
        seachTerm: ''
      }
    },
    methods: {
      allProduct(){
        axios.get('/api/product')
        .then(({data}) => {
          this.products = data
        })
        .catch(error => console.log(error))
      }
    },
    created(){
      this.allProduct()
    },
    computed: {
      filterSearch(){
        return this.products.filter(product => {
          return product.product_name.match(this.seachTerm)
        })
      }
    }
}
</script>

<style>
#empImage{
  height: 40px;
  width: 40px;
}
</style>