<template>
    <div>
        <div class="row">
            <router-link to="/add-customer" class="btn btn-primary">Add Customer</router-link>
        </div>
        </br>
        <input type="text" class="form-control" placeholder="Search Here" v-model="seachTerm" style="width: 300px;">
        </br>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Customer List</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>Photo</th>
                        <th>Phone</th>
                        <th>address</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="customer in filterSearch" :key="customer.id">
                        <td>{{customer.name}}</td>
                        <td>
                          <img :src="customer.photo" alt="" id="empImage">
                        </td>
                        <td>{{customer.phone}}</td>
                        <td>{{customer.address}}</td>
                        <td>
                          <router-link :to="{name: 'EditCustomer', params: {id: customer.id}}" class="btn btn-primary">Edit</router-link>
                          <a @click="deleteCustomer(customer.id)" class="btn btn-danger"><font color="#ffffff">Delete</font></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
      return {
        customers: [],
        seachTerm: ''
      }
    },
    methods: {
      allCustomer(){
        axios.get('/api/customer')
        .then(({data}) => {
          this.customers = data
        })
        .catch(error => console.log(error))
      },
      deleteCustomer(id){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            axios.delete('/api/customer/'+id)
            .then(() => {
              this.customers = this.customers.filter((customer) => {
                return customer.id != id
              })
            })
            .catch(() => {
              this.$router.push({name: 'AllCustomer'})
            })
            Swal.fire(
              'Deleted!',
              'Customer Deleted Successfully',
              'success'
            )
          }
        })
      }
    },
    created(){
      this.allCustomer()
    },
    computed: {
      filterSearch(){
        return this.customers.filter(customer => {
          return customer.name.match(this.seachTerm)
        })
      }
    }
}
</script>

<style>
#empImage{
  height: 40px;
  width: 40px;
}
</style>