<template>
    <div>
        <div class="row">
            <router-link to="/pos" class="btn btn-primary">Add Order</router-link>
        </div>
        </br>
        <input type="text" class="form-control" placeholder="Search Here" v-model="seachTerm" style="width: 300px;">
        </br>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Order List</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>Total Amount</th>
                        <th>Pay</th>
                        <th>Due</th>
                        <th>PayBy</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="order in filterSearch" :key="order.id">
                        <td>{{order.name}}</td>
                        <td>{{order.total}}</td>
                        <td>{{order.pay}}</td>
                        <td>{{order.due}}</td>
                        <td>{{order.pay_by}}</td>
                        <td>
                          <router-link :to="{name: 'ViewOrder', params: {id: order.id}}" class="btn btn-primary">View</router-link>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
      return {
        orders: [],
        seachTerm: ''
      }
    },
    methods: {
      allOrder(){
        axios.get('/api/pos/order')
        .then(({data}) => {
          this.orders = data
        })
        .catch(error => console.log(error))
      },
    },
    created(){
      this.allOrder()
    },
    computed: {
      filterSearch(){
        return this.orders.filter(order => {
          return order.name.match(this.seachTerm)
        })
      }
    }
}
</script>

<style>
#empImage{
  height: 40px;
  width: 40px;
}
</style>