<template>
    <div>
        <div class="row">
            <router-link to="/order" class="btn btn-primary">Orders</router-link>
        </div>
        <div class="container-login">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="card shadow-sm my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                <!-- Simple Tables -->
                                <div class="card">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Order Details</h6>
                                    </div>
                                    <div class="table-responsive">
                                        <ul class="list-group">
                                            <li class="list-group-item"><b>Name : </b>{{orders.name}}</li>
                                            <li class="list-group-item"><b>Phone : </b>{{orders.phone}}</li>
                                            <li class="list-group-item"><b>Address : </b>{{orders.address}}</li>
                                            <li class="list-group-item"><b>Date : </b>{{orders.order_date}}</li>
                                            <li class="list-group-item"><b>Pay Through : </b>{{orders.pay_by}}</li>
                                        </ul>
                                    </div>
                                    <div class="card-footer"></div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="card shadow-sm my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                <!-- Simple Tables -->
                                <div class="card">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Order Details</h6>
                                    </div>
                                    <div class="table-responsive">
                                    <ul class="list-group">
                                        <li class="list-group-item"><b>Sub Total : </b>{{orders.sub_total}}</li>
                                        <li class="list-group-item"><b>Vat : </b>{{orders.vat}}</li>
                                        <li class="list-group-item"><b>Total : </b>{{orders.total}}</li>
                                        <li class="list-group-item"><b>Pay Amount : </b>{{orders.pay}}</li>
                                        <li class="list-group-item"><b>Due Amount : </b>{{orders.due}}</li>
                                    </ul>
                                    </div>
                                    <div class="card-footer"></div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="card shadow-sm my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                <!-- Simple Tables -->
                                <div class="card">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Order Details</h6>
                                    </div>
                                    <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Product Code</th>
                                            <th>Image</th>
                                            <th>Qty</th>
                                            <th>Unit Price</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="detail in orderDetails" :key="detail.id">
                                                <td>{{detail.product_name}}</td>
                                                <td>{{detail.product_code}}</td>
                                                <td><img :src="'/'+detail.image" id="empImage"></td>
                                                <td>{{detail.pro_quantity}}</td>
                                                <td>{{detail.product_price}}</td>
                                                <td>{{detail.sub_total}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <div class="card-footer"></div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            errors: {},
            orders: {},
            orderDetails: {}
        }
    },
    methods: {
        // updateProduct(){
        //     let id = this.$route.params.id
        //     axios.patch('/api/product/'+id,this.form)
        //     .then(res => {
        //         this.$router.push({name: 'AllProduct'})
        //         Notification.success()
        //     })
        //     .catch(error => this.errors = error.response.data.errors)
        // },
    },
    created(){
        if(!User.loggedIn()){
            this.$router.push({name: '/'})
        }
        let id = this.$route.params.id
        axios.get('/api/pos/view-order/'+id)
        .then(({data}) => (this.orders = data))
        .catch(error => console.log(error))

        axios.get('/api/pos/view-all-order/'+id)
        .then(({data}) => (this.orderDetails = data))
        .catch(error => console.log(error))

    }
}
</script>

<style>
    #empImage{
        height: 40px;
        width: 40px;
    }
</style>