<template>
    <div>
        <div class="row">
            <router-link to="/given-salary" class="btn btn-primary">Paid Salary</router-link>
        </div>
        </br>
        <input type="text" class="form-control" placeholder="Search Here" v-model="seachTerm" style="width: 300px;">
        </br>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Month Salary</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Month</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="salary in filterSearch" :key="salary.id">
                        <td>{{salary.salary_month}}</td>
                        <td>
                          <router-link :to="{name: 'ViewSalary', params: {month: salary.salary_month}}" class="btn btn-primary">View Salary</router-link>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
      return {
        salaries: [],
        seachTerm: ''
      }
    },
    methods: {
      allSalary(){
        axios.get('/api/salary')
        .then(({data}) => {
            console.log(data)
          this.salaries = data
        })
        .catch(error => console.log(error))
      },
      
    },
    created(){
      this.allSalary()
    },
    computed: {
      filterSearch(){
        return this.salaries.filter(salary => {
          return salary.salary_month.match(this.seachTerm)
        })
      }
    }
}
</script>

<style>
#empImage{
  height: 40px;
  width: 40px;
}
</style>