<template>
    <div>
        <div class="row">
            <router-link to="/salary" class="btn btn-primary">All Salary</router-link>
        </div>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="card shadow-sm my-5">
                        <div class="card-body p-0">
                            <div class="row">
                            <div class="col-lg-12">
                                <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Edit Salary</h1>
                                </div>
                                <form class="employee" @submit.prevent="UpdateSalary">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <label for="">Employee Name</label>
                                                <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter Full Name" v-model="form.name">  
                                                <small class="text-danger" v-if="errors.name">{{errors.name[0]}}</small>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="">Employee Email</label>
                                                <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                                                    placeholder="Enter Email Address" v-model="form.email">
                                                    <small class="text-danger" v-if="errors.email">{{errors.email[0]}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <label for="">Salary Month</label>
                                                <select class="form-control" id="exampleFormControlSelect1" v-model="form.salary_month">
                                                    <option value="January">January</option>
                                                    <option value="February">February</option>
                                                    <option value="March">March</option>
                                                    <option value="April">April</option>
                                                    <option value="May">May</option>
                                                    <option value="June">June</option>
                                                    <option value="July">July</option>
                                                    <option value="August">August</option>
                                                    <option value="September">September</option>
                                                    <option value="Octaber">Octaber</option>
                                                    <option value="November">November</option>
                                                    <option value="December">December</option>
                                                </select>
                                                <small class="text-danger" v-if="errors.salary_month">{{errors.salary_month[0]}}</small>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="">Amount</label>
                                                <input type="text" class="form-control" id="exampleInputSallery" aria-describedby="sallerylHelp"
                                                    placeholder="Enter Sallery" v-model="form.amount">
                                                    <small class="text-danger" v-if="errors.amount">{{errors.amount[0]}}</small>
                                            </div>
                                            <input type="hidden" v-model="form.employee_id">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                                    </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <router-link to="/" class="font-weight-bold small">Already have an account?</router-link>
                                </div>
                                <div class="text-center">
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            form: {
                name: '',
                email: '',
                salary_month: '',
                amount: '',
                employee_id: ''
           },
            errors: {}
        }
    },
    methods: {
        UpdateSalary(){
            let salary_id = this.$route.params.id
            axios.post('/api/salary/update/'+salary_id,this.form)
            .then(res => {
                this.$router.push({name: 'GivenSalary'})
                Notification.success()
            })
            .catch(error => this.errors = error.response.data.errors)
        }
    },
    created(){
        if(!User.loggedIn()){
            this.$router.push({name: '/'})
        }
        let salary_id = this.$route.params.id
        axios.get('/api/salary/edit/'+salary_id)
        .then(({data}) => (this.form = data))
        .catch(error => console.log(error))

    }
}
</script>

<style>
    
</style>