<template>
    <div>
        <div class="row">
            <router-link to="/pay-salary" class="btn btn-primary">All Salary</router-link>
        </div>
        </br>
        <input type="text" class="form-control" placeholder="Search Here" v-model="seachTerm" style="width: 300px;">
        </br>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Employee List</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>Photo</th>
                        <th>Phone</th>
                        <th>Sallery</th>
                        <th>Joining date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="employee in filterSearch" :key="employee.id">
                        <td>{{employee.name}}</td>
                        <td>
                          <img :src="employee.photo" alt="" id="empImage">
                        </td>
                        <td>{{employee.phone}}</td>
                        <td>{{employee.sallery}}</td>
                        <td>{{employee.joining_date}}</td>
                        <td>
                          <router-link :to="{name: 'PaySalary', params: {id: employee.id}}" class="btn btn-primary">Pay Salary</router-link>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
      return {
        employees: [],
        seachTerm: ''
      }
    },
    methods: {
      allEmployee(){
        axios.get('/api/employee')
        .then(({data}) => {
          this.employees = data
        })
        .catch(error => console.log(error))
      }
    },
    created(){
      this.allEmployee()
    },
    computed: {
      filterSearch(){
        return this.employees.filter(employee => {
          return employee.phone.match(this.seachTerm)
        })
      }
    }
}
</script>

<style>
#empImage{
  height: 40px;
  width: 40px;
}
</style>