<template>
    <div>
        <div class="row">
            <router-link to="/add-employee" class="btn btn-primary">Add Employee</router-link>
        </div>
        </br>
        <input type="text" class="form-control" placeholder="Search Here" v-model="seachTerm" style="width: 300px;">
        </br>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Employee List</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>Photo</th>
                        <th>Phone</th>
                        <th>Sallery</th>
                        <th>Joining date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="employee in filterSearch" :key="employee.id">
                        <td>{{employee.name}}</td>
                        <td>
                          <img :src="employee.photo" alt="" id="empImage">
                        </td>
                        <td>{{employee.phone}}</td>
                        <td>{{employee.sallery}}</td>
                        <td>{{employee.joining_date}}</td>
                        <td>
                          <router-link :to="{name: 'EditEmployee', params: {id: employee.id}}" class="btn btn-primary">Edit</router-link>
                          <a @click="deleteEmployee(employee.id)" class="btn btn-danger"><font color="#ffffff">Delete</font></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
      return {
        employees: [],
        seachTerm: ''
      }
    },
    methods: {
      allEmployee(){
        axios.get('/api/employee')
        .then(({data}) => {
          this.employees = data
        })
        .catch(error => console.log(error))
      },
      deleteEmployee(id){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            axios.delete('/api/employee/'+id)
            .then(() => {
              this.employees = this.employees.filter((employee) => {
                return employee.id != id
              })
            })
            .catch(() => {
              this.$router.push({name: 'AllEmployee'})
            })
            Swal.fire(
              'Deleted!',
              'Employee Deleted Successfully',
              'success'
            )
          }
        })
      }
    },
    created(){
      this.allEmployee()
    },
    computed: {
      filterSearch(){
        return this.employees.filter(employee => {
          return employee.phone.match(this.seachTerm)
        })
      }
    }
}
</script>

<style>
#empImage{
  height: 40px;
  width: 40px;
}
</style>