<template>
    <div>
        <div class="row">
            <router-link to="/add-category" class="btn btn-primary">Add Category</router-link>
        </div>
        </br>
        <input type="text" class="form-control" placeholder="Search Here" v-model="seachTerm" style="width: 300px;">
        </br>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Category List</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Category Name</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="category in filterSearch" :key="category.id">
                        <td>{{category.category_name}}</td>
                        <td>
                          <router-link :to="{name: 'EditCategory', params: {id: category.id}}" class="btn btn-primary">Edit</router-link>
                          <a @click="deleteCategory(category.id)" class="btn btn-danger"><font color="#ffffff">Delete</font></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
      return {
        categories: [],
        seachTerm: ''
      }
    },
    methods: {
      allCategory(){
        axios.get('/api/category')
        .then(({data}) => {
          this.categories = data
        })
        .catch(error => console.log(error))
      },
      deleteCategory(id){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            axios.delete('/api/category/'+id)
            .then(() => {
              this.categories = this.categories.filter((category) => {
                return category.id != id
              })
            })
            .catch(() => {
              this.$router.push({name: 'AllCategory'})
            })
            Swal.fire(
              'Deleted!',
              'Category Deleted Successfully',
              'success'
            )
          }
        })
      }
    },
    created(){
      this.allCategory()
    },
    computed: {
      filterSearch(){
        return this.categories.filter(category => {
          return category.category_name.match(this.seachTerm)
        })
      }
    }
}
</script>

<style>
#empImage{
  height: 40px;
  width: 40px;
}
</style>