<template>
    <div>
        <div class="row">
            <router-link to="/all-employee" class="btn btn-primary">All Employee</router-link>
        </div>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="card shadow-sm my-5">
                        <div class="card-body p-0">
                            <div class="row">
                            <div class="col-lg-12">
                                <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Edit Category</h1>
                                </div>
                                <form class="employee" @submit.prevent="updateCategory">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" id="exampleInputCategory" placeholder="Enter Category Name" v-model="form.category_name">  
                                                <small class="text-danger" v-if="errors.category_name">{{errors.category_name[0]}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                                    </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <router-link to="/" class="font-weight-bold small">Already have an account?</router-link>
                                </div>
                                <div class="text-center">
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            form: {
                category_name: '',
            },
            errors: {}
        }
    },
    methods: {
        updateCategory(){
            let id = this.$route.params.id
            axios.patch('/api/category/'+id,this.form)
            .then(res => {
                this.$router.push({name: 'AllCategory'})
                Notification.success()
            })
            .catch(error => this.errors = error.response.data.errors)
        }
    },
    created(){
        if(!User.loggedIn()){
            this.$router.push({name: '/'})
        }
        let id = this.$route.params.id
        axios.get('/api/category/'+id)
        .then(({data}) => (this.form = data))
        .catch(error => console.log(error))

    }
}
</script>

<style>
    
</style>