<template>
    <div>
        <div class="row">
            <router-link to="/all-supplier" class="btn btn-primary">All Supplier</router-link>
        </div>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="card shadow-sm my-5">
                        <div class="card-body p-0">
                            <div class="row">
                            <div class="col-lg-12">
                                <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Add Supplier</h1>
                                </div>
                                <form class="supplier" @submit.prevent="addSupplier" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter Full Name" v-model="form.name">  
                                                <small class="text-danger" v-if="errors.name">{{errors.name[0]}}</small>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                                                    placeholder="Enter Email Address" v-model="form.email">
                                                    <small class="text-danger" v-if="errors.email">{{errors.email[0]}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="exampleInputAddress" placeholder="Enter Address" v-model="form.address">  
                                                <small class="text-danger" v-if="errors.address">{{errors.address[0]}}</small>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="exampleInputPhone" placeholder="Enter Phone Number" v-model="form.phone"> 
                                                <small class="text-danger" v-if="errors.phone">{{errors.phone[0]}}</small> 
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="exampleInputAddress" placeholder="Enter Shop Name" v-model="form.shopname">  
                                                <small class="text-danger" v-if="errors.shopname">{{errors.shopname[0]}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <input type="file" class="custom-file-input" id="customFile" @change="imageUpload">
                                                <small class="text-danger" v-if="errors.photo">{{errors.photo[0]}}</small>
                                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                            <div class="col-md-6">
                                                <img :src="form.photo" alt="image" style="height: 40px; width: 40px">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                    </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <router-link to="/" class="font-weight-bold small">Already have an account?</router-link>
                                </div>
                                <div class="text-center">
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            form: {
                name: null,
                email: null,
                address: null,
                phone: null,
                shopname: null,
                photo: null
            },
            errors: {}
        }
    },
    methods: {
        addSupplier(){
            axios.post('/api/supplier',this.form)
            .then(res => {
                this.$router.push({name: 'AllSupplier'})
                Notification.success()
            })
            .catch(error => this.errors = error.response.data.errors)
        },
        imageUpload(event){
            let file = event.target.files[0]
            if(file.size > 1048770){
                Notification.imageValidationMessage()
            }else{
                let reader = new FileReader()
                reader.onload = event => {
                    this.form.photo = event.target.result
                    console.log(event.target.result)
                }
                reader.readAsDataURL(file)
                console.log(event.target.files[0])
            }
        }
    },
    created(){
        if(!User.loggedIn()){
            this.$router.push({name: '/'})
        }
    }
}
</script>

<style>
    
</style>