<template>
    <div>
        <div class="row">
            <router-link to="/add-supplier" class="btn btn-primary">Add Supplier</router-link>
        </div>
        </br>
        <input type="text" class="form-control" placeholder="Search Here" v-model="seachTerm" style="width: 300px;">
        </br>
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Supplier List</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>Photo</th>
                        <th>Phone</th>
                        <th>ShopName</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="supplier in filterSearch" :key="supplier.id">
                        <td>{{supplier.name}}</td>
                        <td>
                          <img :src="supplier.photo" alt="" id="empImage">
                        </td>
                        <td>{{supplier.phone}}</td>
                        <td>{{supplier.shopname}}</td>
                        <td>
                          <router-link :to="{name: 'EditSupplier', params: {id: supplier.id}}" class="btn btn-primary">Edit</router-link>
                          <a @click="deleteSupplier(supplier.id)" class="btn btn-danger"><font color="#ffffff">Delete</font></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
      return {
        suppliers: [],
        seachTerm: ''
      }
    },
    methods: {
      allSuppler(){
        axios.get('/api/supplier')
        .then(({data}) => {
          this.suppliers = data
        })
        .catch(error => console.log(error))
      },
      deleteSupplier(id){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            axios.delete('/api/supplier/'+id)
            .then(() => {
              this.suppliers = this.suppliers.filter((supplier) => {
                return supplier.id != id
              })
            })
            .catch(() => {
              this.$router.push({name: 'AllSupplier'})
            })
            Swal.fire(
              'Deleted!',
              'Supplier Deleted Successfully',
              'success'
            )
          }
        })
      }
    },
    created(){
      this.allSuppler()
    },
    computed: {
      filterSearch(){
        return this.suppliers.filter(supplier => {
          return supplier.phone.match(this.seachTerm)
        })
      }
    }
}
</script>

<style>
#empImage{
  height: 40px;
  width: 40px;
}
</style>